<launch>

  <include file="$(find 3d_nav_executive)/launch/kinect_perception.launch" />


 
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
    <param name="vis_min_z" value="0.08" />
    <!-- <param name="vis_max_z" value="2.0" /> -->
    <param name="resolution" value="0.025" /> 
    <param name="max_sensor_range" value="5.0" />

   <param name="sensor_model_hit" value= "0.8" />
   <param name="sensor_model_miss" value= "0.31" />
   <param name="sensor_model_min" value= "0.12" />
   <param name="sensor_model_max" value= "0.95" />


    <remap from="cloud_in" to="/kinect/depth/points_filtered" />
    
    
  </node>

  <node name="octomap_2D_server" pkg="octomap_server" type="octomap_2D_server" >
  	<param name="min_z_range" value="0.11" />
  	<param name="max_z_range" value="1.8" />
  	<param name="min_x_size" value="16.0" />
  	<param name="min_y_size" value="16.0" />
  </node>

  <rosparam command="load" ns="robot_description_planning" file="$(find 3d_nav_executive)/config/pr2_planning_description.yaml" />
  <node name="environment_server" pkg="planning_environment" type="environment_server" />

</launch>
