<launch>
  <include file="$(find 3d_nav_executive)/launch/laser+stereo-perception.launch" />


 
  <node  machine="c2" name="octomap_server_combined" pkg="octomap_server" type="octomap_server_combined" args="/u/mphillips/ros/3dnav/stacks/octomap_mapping/octomap_server/without_chairs.bt"> 
    <param name="resolution" value="0.025" /> 
    <param name="sensor_model/range" value="4.0" />

   <param name="sensor_model/hit" value= "0.8" />
   <param name="sensor_model/miss" value= "0.31" />
   <param name="sensor_model/min" value= "0.12" />
   <param name="sensor_model/max" value= "0.95" />

   <param name="pointcloud_min_z" value="-0.03" />
   <param name="pointcloud_max_z" value="2.0" />
   <param name="occupancy_min_z" value="0.05" />
   <param name="occupancy_max_z" value="2.0" />

   <param name="filter_speckles" value="True" />
   <param name="ground_filter/distance" value="0.10" />
   <param name="ground_filter/angle" value="0.15" />
   <param name="ground_filter/plane_distance" value="0.07" />

   <param name="min_x_size" value="25.0" />
   <param name="min_y_size" value="25.0" />

   <remap from="cloud_in" to="/narrow_stereo_textured/points_filtered_attached2" />


 </node>

 <rosparam command="load" ns="robot_description_planning" file="$(find 3d_nav_executive)/config/pr2_planning_description.yaml" />
 <node name="environment_server" pkg="planning_environment" type="environment_server" />

</launch>
